/* Fuentes */
@font-face {
    font-family: roboto;
    src: url(../fonts/Roboto-Medium.ttf);
}

/* Estructura General */
.wrapp {
    display: flex;
    flex-direction: column;
    min-height: 1200px;
    width: 100%;
}

.wrapp .cabecera {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    align-content: center;
    height: 150px;
    width: 100%;
    background-color: #f1f7fe;
    margin-top: -10px;
    box-shadow: 0px 5px 10px rgb(99, 98, 98);
}

.bienvenida {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    height: 150px;
    width: 1000px;
    margin-right: 250px;
}

img {
    height: 150px;
    width: 200px;
    border-radius: 100%;
}

.wrapp #Habitacion #roomImg{
    height: 300px;
    width: 350px;
    border-radius: 0%;
    /*outline: solid black 2px;*/
    border-radius: 5%;
}

#bienvenida {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    color: black;
    font-family: 'Courier New', Courier, monospace;
    height: 60px;
    width: 1000px;
}
.carrito {
    position: fixed; 
    bottom: 20px; 
    right: 20px;
    z-index: 9999; 
}



li {
    list-style: none;
    cursor: pointer;
    transition: color 0.3s;
}

li:hover {
    color: rgb(148, 194, 206);
}

li a {
    text-decoration: none;
    color: inherit;
}

/* Estilo de la sección de habitaciones */
#Habitacion {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    width: 97.9%;
    margin-top: 20px;
    background: #f1f7fe;
    /*box-shadow: 10px 5px 10px rgb(99, 98, 98);*/
}

.detallesHabitacion {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    width: 500px;
    height:500px;
    margin: 10px;
    padding: 20px;
    background-color: rgb(148, 194, 206);
    border-radius: 10px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
}

.detallesHabitacion:hover {
    box-shadow: 10px 5px 12px rgba(0, 0, 0, 0.5);
}

.roomAux{
    display:flex;
    flex-wrap: wrap;
    flex-direction: column;
    width:300px;
    /*outline: solid black 1px;*/
    background-color: rgb(186, 228, 238);
    box-shadow: 10px 5px 12px rgb(0, 0, 0);
}

.campoRoom {
    margin: 10px 0;
    font-size: 18px;
    text-align: center;
    flex: 1;
    font-family: roboto;
}


